* {
  margin: 0;
}

.fixed {
  position: fixed;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

body {
  background-color: rgb(1, 22, 4);
}

canvas {
  z-index: 0;
}

#controls,
select {
  z-index:10;
}
#controls {
  position:absolute;
  right:1rem;
  width:10vw;
}
svg {
  --d:calc(min(5vw,5vh));
  width: calc(var(--d) * 2);
  height: calc(var(--d) * 2);
  fill: #fff;
  padding: 2rem 0;
}
select {
  font-size: 1rem;
  padding: .5rem 1rem;
  border-radius: 3rem;
  position:fixed;
  top:1rem;
  left:1rem;
}
option {
  font-size: .7rem;
  color: #222;
}

#balldrop {
  left: 1rem;
}

#reload {
  left: calc(25vw - .4rem + 2rem);
}

#download {
  left: calc(75vw - .4rem - 2rem);
}

#pause {
  right: 1rem;
}